@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #f2f0ef;
}

@font-face {
  font-family: "CutePixel";
  src: url('/assets/fonts/CutePixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neodgm";
  src: url('/assets/fonts/neodgm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Icon hover on MySkillsPage */
.icon-hover {
  @apply hover:text-yellow transition-colors duration-200;
}
